@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';



body {
  
  
  font-family: Arial, Helvetica, sans-serif;
}

.test-font {
  font-family: var(--font-against), sans-serif;
  font-style: italic;
}
